nav.light-blue.lighten-1(role="navigation")
    div.nav-wrapper.container
        a.brand-logo(href="/#") Share.it
        ul.right.hide-on-med-and-down
            li
                a(href="#") Navbar Link
        ul.side-nav(id="nav-mobile")
            li
                a(href="#") Navbar Link
        a.button-collapse(href="#" data-activates="nav-mobile")
            i.material-icons menu