extends layout

block content
    div.section.no-pad-bot
        div.container
            h3.header.center.orange-text.text-darken-3 Select project!
            div.row.center
                //List the saved documents
                div.col.s12
                    form(method='POST' action='./')
                        div.input-field.inline
                            if errors
                                input(id="projectName" name="projectName" type="text").invalid
                                label.white-text(for="projectName") Insert valid name.
                            else
                                input(id="projectName" name="projectName" type="text")
                                label.white-text(for="projectName") New project name.
                        button#new.btn-floating.waves-effect.waves-light.btn-large.red(type='submit')
                            i.material-icons add
            - var cols = 4;
            - var i = - cols;
            while i <= rows.length
                - i += cols;
                div.row.center
                    each item in rows.slice(i, i+cols)
                        div.col.s3
                            a.waves-effect.waves-light.btn-large(onclick="openProject('" + item.name + "')") #{item.name}