extends layout

block content
    div(style='background-color:black;')
        #carousel-example-generic.carousel.slide(data-ride='carousel')
            // Indicators
            ol.carousel-indicators
                li.active(data-target='#carousel-example-generic', data-slide-to='0')
                li(data-target='#carousel-example-generic', data-slide-to='1')
                li(data-target='#carousel-example-generic', data-slide-to='2')
            // Wrapper for slides
            .carousel-inner
                .item.active
                    img(src='data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=', width="200" height="20" alt="")
                    .carousel-caption
                        h1(style='color:orange;font-size:300%;text-align:center')
                            strong  SHARE.
                            span(style='color:blue')
                                strong IT


                        h3(style='color:white;')
                            strong the future of &nbsp
                                span(style='color:yellow;')
                                    strong T
                                        span(style='color:blue;')
                                            strong E
                                                span(style='color:red')
                                                    strong A
                                                        span(style='color:green;')
                                                            strong M&nbsp
                                                                span(style='color:white;')
                                                                    strong work

                .item
                    img(src='data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=', width="200" height="0" alt="")
                    .carousel-caption
                        h2
                            strong Please pick your
                        h1
                            spa(style='color:red;')
                                strong CO
                                spa(style='color:blue;')
                                    strong L
                                    spa(style='color:green;')
                                        strong OR

            // Controls
            a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left

            a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right
    // Carousel


    .container.marketing
        // Three columns of text below the carousel
        .row
            div
                div(style='width:50%;display:inline;')
                    asp:button
                div(style='width:50%;display:inline;')
                    asp:button

            div
                - each item in rows
                    button.btn.btn-circle.btn-xl(type='button', style='background-color:'+ item.color +';margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0ss%',onclick="setUser({id: " + item.id + ", name: '"+ item.name +"', color: '"+ item.color +"'})")