extends layout

block content
    div.section.no-pad-bot
        div.container
            h1.header.center.orange-text Real-time collaboration!
            div.row.center
                div.col.s12
                    div.input-field.inline
                        input(id="username" type="text")
                        label(for="username") What's your nickname?
            div.row.center
                a.btn-large.waves-effect.waves-light.orange(
                onclick="setUser()") Get Started