doctype
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', type='text/css', media='screen,projection',  href='/css/materialize.css')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/spectrum.css')
    //link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    //link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-slider.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")


    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/socket.js")
    script(src="/javascripts/jquery-1.11.3.js")
    script(src="/javascripts/paper/paper-full.js")
    script(src="/javascripts/bootstrap/bootstrap-slider.js")
    script(src="/javascripts/bootstrap/bootstrap.js")
    script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")

    script(type="text/javascript", src="/js/materialize.js")
    script(type="text/javascript", src="/js/init.js")
  body(style="padding:0;")
    header
      include includes/navigationBar
    main
      block content
    footer