doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/socket.js")
    script(src="/javascripts/webfunctions.js")
    script(src="/javascripts/paper/paper-full.js")
    script(src="/javascripts/fabric/fabric.js")
  body(style="padding:0;")
    block content