doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/spectrum.css')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-slider.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")

    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/socket.js")
    script(src="/javascripts/jquery-1.11.3.js")
    script(src="/javascripts/spectrum.js")
    script(src="/javascripts/paper/paper-full.js")
    script(src="/javascripts/bootstrap/bootstrap-slider.js")
    script(src="/javascripts/bootstrap/bootstrap.js")
  body(style="padding:0;")
    block content