extends layout

block menu
    link(rel='stylesheet', href='/stylesheets/project.css')
    ul#slide-out.side-nav.fixed
        li
            a.subheader Users:
        div#usersList
        li
            .divider
        li
            a.subheader Tool box
        div#toolBox
            a.btn-floating.btn-large.waves-effect.waves-light.red
                input#full-color-picker
            a#setLine.btn-floating.btn-large.waves-effect.waves-light.red
                i.material-icons &#xE150;
            a#setCircles.btn-floating.btn-large.waves-effect.waves-light.red
                i.material-icons &#xE062;
            a#dragTool.btn-floating.btn-large.waves-effect.waves-light.red
                i.material-icons &#xE925
            a#curveTool.btn-floating.btn-large.waves-effect.waves-light.red
                i.material-icons &#xE155
            a#saveProject.btn-floating.btn-large.waves-effect.waves-light.red
                i.material-icons &#xE161


    a.button-collapse.hide-on-large-only(href='#', data-activates='slide-out')
        i.material-icons menu

block content
    div.floatright#TestId
        script(src="/javascripts/spectrum.js")
        script(type="text/paperscript", src="/javascripts/draw.js", canvas="draw")
        canvas(id="draw", resize="true", keepalive="true" )

