extends layout

block content
    script(type="text/paperscript", src="/javascripts/draw.js", canvas="draw")

    div.container-fluid
        div.row
            div.col-md-2
                div.btn-group
                    input#full-color-picker
                    button#setLine.btn.btn-sm.btn-default
                        i.material-icons create
                    button#setCircles.btn.btn-sm.btn-default
                        i.material-icons &#xE062;
                div.btn-group
                    button#save.btn.btn-sm.btn-default(onclick="saveProject()")
                        i.material-icons save
                    div.btn-group
                        button.btn.btn-sm.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            i.material-icons school
                        div.dropdown-menu
                                div.slider.slider-horizontal(style="width: 140px;")
                    button.btn.btn-sm.btn-default
                        i.material-icons school
                div.btn-group
                    button.btn.btn-sm.btn-default
                        i.material-icons school
                    button.btn.btn-sm.btn-default
                        i.material-icons school
                    button.btn.btn-sm.btn-default
                        i.material-icons school
                div.btn-group
                    button.btn.btn-sm.btn-default
                        i.material-icons school
                    button.btn.btn-sm.btn-default
                        i.material-icons school
                    button.btn.btn-sm.btn-default
                        i.material-icons school
            div.col-md-10
                div.panel.panel-primary
                    canvas( id="draw", resize="true", keepalive="true" )
