extends layout

block content
    div.floatright#TestId
        script(type="text/paperscript", src="/javascripts/draw.js", canvas="draw")
        canvas.white(id="draw", resize="true", keepalive="true" )

block menu
    link(rel='stylesheet', href='/stylesheets/project.css')
    script(src="/javascripts/spectrum.js")
    script(src="/javascripts/messages.js")

    ul#slide-out.side-nav.fixed.blue-grey.lighten-3
        li
            a.subheader Tool box
        div#toolBox
            a.btn-floating.btn-large.waves-effect.waves-light.red
                input#full-color-picker
            a#setLine.btn-floating.btn-large.waves-effect.waves-light.red
                i.material-icons &#xE150;
            a#setCircles.btn-floating.btn-large.waves-effect.waves-light.red
                i.material-icons &#xE062;
            a#dragTool.btn-floating.btn-large.waves-effect.waves-light.red
                i.material-icons &#xE925
            a#curveTool.btn-floating.btn-large.waves-effect.waves-light.red
                i.material-icons &#xE155
            a#saveProject.btn-floating.btn-large.waves-effect.waves-light.red
                i.material-icons &#xE161
        li
            .divider
        li
            a.subheader Users
            div#usersList
        li
            .divider
        li
            a.subheader Chat
        ul#chat.collection.collection-in-navbar.black-text

        li
            .row
                .col.s12
                    .row
                        .input-field.input-group.col.s12.black-text
                            input#newMessage.validate.white(type='text' placeholder="Message")
                            a.waves-effect.waves-circle.waves-light.btn-floating.secondary-content.red(onclick="sendMessage()")
                                i.material-icons send

    a.button-collapse.hide-on-large-only(href='#', data-activates='slide-out')
        i.material-icons menu





