/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/
html,
body {
    margin: 0;
    /*overflow: hidden;*/
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}


.wrap {
width: 100%;
height: 100%;
}

.floatleft {
    float:left;
    width: 20%;
    height:100%;
}

.floatright {
    float:left;
    width: 80%;
    height: 100%;
    border-left-style: solid;
    border-width: 1px;
}


.btn-group {
	width: 320px;
}

.menu{
    width: 20%;
}
.btn-circle {
    border-radius: 50%;
    padding: 0.1em;
    width:1.8em;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}
.loginbutton,
.signupbutton {
    display: inline;
    height: 40px;
    color: black;
    font-size: 25px;
    text-decoration: none;
    line-height: 36px;
    box-sizing: border-box;
    padding: 1px 0 0 0;
    text-align: center;
    background-color: #FFA319;
    border-radius: 4px;
    margin-top: 30px;
}


.container-fluid {
    /*margin-top: 50px;*/
}

.panel-heading {
    text-align: center;
}

.panel.panel-default {
    /*margin-top: 50px;*/
}

.chat{
    height: 34px;
}
