/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}

.col.s3 > .btn-large {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .side-nav a{
        padding: 0 !important;
    }
}

.input-group {
    display: table;
}

.input-group input, .suffix {
    display: table-cell;
}

.suffix {
    width:1%;
}

.collection-in-navbar li {
    padding: 10px 2px !important;
}

/*.input-field input {*/
    /*color: black !important;*/
/*}*/