/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/
html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}


.wrap {
width: 100%;
height: 100%;
}

.floatleft {
    float:left;
    width: 20%;
    height:100%;
}

.floatright {
    float:left;
    width: 80%;
    height: 100%;
    border-left-style: solid; 
    border-width: 1px;
}


.btn-group {
	width: 320px;
}

.menu{
    width: 20%;
}


.container-fluid {
    margin-top: 50px;
}

.panel-heading {
    text-align: center;
}

.panel.panel-default {
    margin-top: 50px;
}

.chat{
    height: 34px;
}
